body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #F8F9F9;
  color: #2C3E50;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  margin: 30px 50px;
  padding: 20px;
  background-color: #ECF0F1;
  border-radius: 8px;
  text-align: center;
}

.course-container {
  display: inline-flex;
  margin: 20px 0;
}

.course-card {
  width: 350px; /* Increased width for clearer content */
  height: 450px; /* Increased height for clearer content */
  margin: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.course-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.course-name {
  text-align: center;
  padding-bottom: 10px;
  margin-top: 15px;
  color: #3498DB; /* Adjusted color to match the theme */
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.course-description {
  padding: 10px;
  height: 150px; /* Increased height for clearer content */
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-buttons {
  text-align: center;
  margin-top: auto;
}

.btn {
  width: 140px;
  height: 30px;
  border: none;
  margin: 5px 3px;
  cursor: pointer;
}

.btn-read {
  background-color: #ebff3b;
  color: #2C3E50;
}

.btn-show {
  background-color: #ffa600;
  color: #2C3E50;
}